@charset "uft-8";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,li{list-style: none;}
a{
  text-decoration: none;
  color: #194569;
  display: block;
}

body{
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #fffdf5;
}

.warp{width: 100%;}

/* ===== Header ===== */
.header{
  background-color: #d5e8ff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  padding: 9px 5px;
}
.header ul{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.header .title{
  font-size: 30px;
  font-weight: bold;
  color: #fffdf5;
  margin-right: 20rem;
  text-shadow: 1px 1px 4px #194569;
}
.header .container {
  max-width: 1200px; 
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact{
  color: #1e5670;
  font-weight: bold;
  border-bottom: 1px solid #1e5670;
}
.header .nav{flex-basis: 600px;}
.header .logo{
  background: url('../img/logo.jpg') no-repeat center;
  background-size: contain;
  padding: 2%;
}
main{margin-top: 93px;}
#contact .container{padding: 20px 0;}
.section .container {
  max-width: 1200px; 
  width: 100%; 
  margin: 0 auto;
}

/* ===== Main ===== */


/* ===== Footer ===== */
.name{
  text-align: center;
  background-color: #fffdf5;
  color: #1e5670;
  font-size: 15px;
  font-family: 'Noto Sans KR', sans-serif;
  padding: 10px 15px;
  margin-top: 17.4%;
}